body {
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0;
    height: 100%;
}

#box {
    visibility: hidden; /* trick to not show before check logged in, as we may redirect to login */
    display: flex;
    flex-flow: column;
    height: 100%;
}

#up {
    padding: 5px;
    flex: 0 1 auto;
}

form {
    padding: 3px;
}

.battle-item {
    border: 1px solid black;
    padding: 3px;
    margin: 2px;
    display: grid;
    /*border-radius: 3px;*/
}

.battle-item.system {
    border: 2px solid green;
}

.battle-item .name {
    font-weight: bold;
}

.battle-item .version {
    vertical-align: super;
    font-size: smaller;
}

#body {
    flex: 1 1 auto;
    display: flex;
    width: fit-content;
}

#body>div {
    vertical-align: top;
    overflow: auto;
    flex-shrink: 0;
}

#pleer-cont {
    border: 3px dashed gray;
    margin: 2px;
    width: 800px;
}

#pleer-control {
    padding: 2px;
}

#pleer-buttons {
    float: left;
}

#pleer-inp-sp {
    display: block;
    overflow: hidden;
}

#pleer-control input {
    width: 100%;
    box-sizing:border-box;
}

#up form {
    display: inline-block;
}

table {
    border-collapse: collapse;
    /*border-radius: 3px;*/
    padding: 3px;
    margin: 2px;
    margin-top: 50px;
    margin-right: 200px;
}

tr:nth-child(even) {
    background: #e5e5e5;
}

td {
    border: 1px solid black;
    padding: 0 5px;
}

th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
  padding: 0 5px;
}

th.rotate > div {
  transform: 
    /* Magic Numbers */
    translate(25px, 51px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
